body {
    padding: 1em;
    padding-top: 0;
}

body#app {
    padding: 0;
    padding-top: calc(40px + 1em);
}

h2#optionsPath,
h2#hostersHeader {
    margin-top: 0;
}

h2#appHeader {
    color: rgb(48, 57, 66);
    display: block;
    font-family: 'DejaVu Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: #f5f5f5;
    padding: 0 10px;
    margin: 0;
    height: 40px;
    line-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #c9c3bd;
}

label {
    display: block;
    white-space: nowrap;
}

div#options label {
    padding-bottom: 0.2em;
}

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 1em;
    border-top: 1px solid #c9c3bd;
}
nav label {
    margin: 0;
    padding: 0 0 1em 0;
}
nav > p {
    margin: 0;
    padding: 1em 1em 0 0;
}

div#tabsList,
div#linksList,
div#downloadLog {
    padding-left: 1em;
    padding-bottom: 25%;
}



/**
 * Lists 
 */

ol {
    list-style: decimal;
    padding-left: 1.5em;
}



/**
 * Download Path 
 */

span#downloadPathDescription {
    font-weight: bold;
}

input#downloadPath {
    width: 20em;
}

input#filenameScheme {
    width: 20em;
}

span#downloadPathPrefix {
    padding-left: 0.5em;
}


input#downloadPath[disabled] {
    opacity: 0.4;
}


/**
 * Download status 
 */

ol#downloadLog {
    margin-left: 1em;
}

ol#downloadLog li.logged,
ol#downloadLog li.logged a {
    color: #757575; /*gray*/
    font-style: italic;
}

ol#downloadLog li.interrupted,
ol#downloadLog li.interrupted a {
    color: #f44336; /*red*/
    font-weight: bold;
}

ol#downloadLog li.complete,
ol#downloadLog li.complete a {
    color: #4caf50; /*green*/
    font-weight: bold;
}



/**
 * Options 
 */

div#status {
    display: inline-block;
    height: 22px;
    width: 22px;
    line-height: 22px;
    vertical-align: bottom;
    text-align: center;
    font-size:14px;
    border-radius: 100%;
    background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 3px solid #3079ed;
    color: #333;
    opacity: 0;
    transition: opacity 0.5s;
}

span#optionsDownloadCustomPathNote {
    font-style: italic;
}

span#optionsDownloadCustomPathNote:before {
    content: "(";
}

span#optionsDownloadCustomPathNote:after {
    content: ")";
}

div#save,
div#navigation {
    padding-top: 1em;
}



/**
 * Hosters table 
 */

div#hostersInfo table {
    width: 100%;
    margin-bottom: 0.5em;
}

div#hostersInfo table th {
    font-weight: bold;
}

div#hostersInfo table th,
div#hostersInfo table td {
    padding-right: 18px;
    white-space: nowrap;
}

div#hostersInfo table th:last-child,
div#hostersInfo table td:last-child {
    padding-right: 0;
    text-align: right;
}



/*
 * Loading spinner
 */

div#loadingLinks {
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 120px - 19px);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*
 * Prevent selection of text when using the shift select feature
 */

div#tabsList,
div#linksList {
    user-select: none;
}


/*
 * Variables help system
 */

dialog#variablesHelpDialog h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

dialog#variablesHelpDialog table {
}

dialog#variablesHelpDialog thead {
    display: none;
}

dialog#variablesHelpDialog code {
    font-family: monospace;
    background-color: #eeeeec;
    padding: 5px;
    border-radius: 0.5em;
}

dialog#variablesHelpDialog td:first-child {
    padding-right: 2em;
}

dialog#variablesHelpDialog td:last-child {
    padding-left: 2em;
    text-align: right;
    font-style: italic;
}

dialog#variablesHelpDialog {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    position: fixed;
    max-width: 600px;
    overflow: hidden;
}

dialog#variablesHelpDialog table {
    width: 100%;
}

dialog#variablesHelpDialog section#variablesHelpContent {
    overflow: auto;
    max-height: 400px;
    margin-bottom: 1.5em;
    padding-right: 0.5em;
}


p#farewellText {
    font-size: 0.8rem;
    font-style: italic;
    margin: 0;
    padding: 0;
}

div#farewell {
    margin: 0.5rem 1rem 1rem 1rem;
}

p#farewellText.inOptions {
    padding-bottom: 1rem;
}
